<div class="ui-correction">
  <div
    class="d-flex flex-row justify-content-between w-100 px-4 align-items-start header-wrapp"
  >
    <div class="d-flex flex-column">
      <div class="ui-correction__header">
        <button
          class="fd-button fd-button--transparent back-btn"
          (click)="cancel()"
          title="Zurück"
        >
          <i class="sap-icon--arrow-left"></i>
        </button>
        <h1>Manuelle Validierung</h1>
      </div>
      <div
        class="ui-correction__general d-flex flex-column"
        *ngIf="displayCorrectionData?.generalFields?.length"
      >
        <div
          class="ui-correction__general-field"
          *ngFor="
            let field of displayCorrectionData.generalFields;
            let fieldIdx = index
          "
        >
          <span class="field-label">{{ field.label }}</span>
          <span
            class="field-value"
            tabindex="0"
            [attr.data-nav-item]="fieldIdx === 0 ? '' : null"
            data-nav-table="general"
            data-arrow-group="general"
            [class.is-highlighted]="isHighlighted(field)"
            [class.is-editing]="editingItem === field"
            [class.is-edited]="isEdited(field)"
            (focus)="setActive(field)"
            (click)="startEdit(field)"
            (keydown)="onFieldKeydown($event, field, 'general')"
          >
            <span
              [style.visibility]="editingItem === field ? 'hidden' : 'visible'"
              >{{ field.value }}</span
            >
            <input
              *ngIf="editingItem === field"
              class="cell-edit-input"
              [(ngModel)]="editingValue"
              [ngModelOptions]="{ standalone: true }"
              (blur)="commitEdit()"
              (keydown.enter)="commitEdit()"
              (keydown.escape)="cancelEdit()"
            />
          </span>
        </div>
      </div>
    </div>
    <div class="view-mode-switch">
      <button
        class="fd-button koplett-button"
        [class.is-active]="!showOnlyHighlighted"
        (click)="showOnlyHighlighted = false"
      >
        Komplett
      </button>
      <button
        class="fd-button"
        [class.is-active]="showOnlyHighlighted"
        (click)="showOnlyHighlighted = true"
      >
        Auffälligkeiten
      </button>
    </div>
  </div>

  <div class="ui-correction__content" *ngIf="displayCorrectionData">
    <div class="no-anomalies-message" *ngIf="noAnomaliesMessage">
      {{ noAnomaliesMessage }}
    </div>
    <div class="content-left thin-scroll" *ngIf="!noAnomaliesMessage">
      <ng-container *ngIf="currentPage as page">
        <div class="field-table" *ngIf="page.fields.length > 0">
          <div
            class="field-table__row"
            *ngFor="let field of page.fields; let fieldIdx = index"
          >
            <div class="field-table__label">{{ field.label }}</div>
            <div
              class="field-table__value"
              tabindex="0"
              [attr.data-nav-item]="fieldIdx === 0 ? '' : null"
              [attr.data-nav-table]="'ft-' + currentPageIdx"
              [attr.data-arrow-group]="'ft-' + currentPageIdx"
              [class.is-highlighted]="isHighlighted(field)"
              [class.is-edited]="isEdited(field)"
              [class.is-editing]="editingItem === field"
              (focus)="setActive(field)"
              (click)="startEdit(field)"
              (keydown)="onFieldKeydown($event, field, 'ft-' + currentPageIdx)"
            >
              <span
                [style.visibility]="
                  editingItem === field ? 'hidden' : 'visible'
                "
                >{{ field.value }}</span
              >
              <input
                *ngIf="editingItem === field"
                class="cell-edit-input"
                [(ngModel)]="editingValue"
                [ngModelOptions]="{ standalone: true }"
                (blur)="commitEdit()"
                (keydown.enter)="commitEdit()"
                (keydown.escape)="cancelEdit()"
              />
            </div>
          </div>
        </div>

        <div
          class="data-table-wrapper"
          *ngFor="let table of page.tables; let tableIdx = index"
        >
          <table class="fd-table correction-table">
            <thead class="fd-table__header">
              <tr class="fd-table__row">
                <ng-container
                  *ngFor="
                    let colIndex of getVisibleColumnIndices(table);
                    trackBy: trackByIndex
                  "
                >
                  <th class="fd-table__cell">
                    {{ table.columns[colIndex].value }}
                  </th>
                </ng-container>
                <th class="fd-table__cell fd-table__cell--actions"></th>
              </tr>
            </thead>
            <tbody class="fd-table__body">
              <tr
                class="fd-table__row"
                *ngFor="
                  let row of getDisplayRows(table);
                  trackBy: trackByIndex;
                  let rowIdx = index
                "
              >
                <ng-container
                  *ngFor="
                    let colIndex of getVisibleColumnIndices(table);
                    trackBy: trackByIndex;
                    let visColIdx = index
                  "
                >
                  <td
                    class="fd-table__cell"
                    [attr.data-cell-pos]="
                      currentPageIdx +
                      '-' +
                      tableIdx +
                      '-' +
                      rowIdx +
                      '-' +
                      visColIdx
                    "
                    [attr.data-nav-item]="
                      rowIdx === 0 && visColIdx === 0 ? '' : null
                    "
                    [attr.data-nav-table]="currentPageIdx + '-' + tableIdx"
                    tabindex="0"
                    [class.is-highlighted]="isHighlighted(row[colIndex])"
                    [class.is-edited]="isEdited(row[colIndex])"
                    [class.is-editing]="editingItem === row[colIndex]"
                    (focus)="setActive(row[colIndex])"
                    (click)="startEdit(row[colIndex])"
                    (keydown)="
                      onCellKeydown(
                        $event,
                        currentPageIdx,
                        tableIdx,
                        rowIdx,
                        visColIdx
                      )
                    "
                  >
                    <span
                      [style.visibility]="
                        editingItem === row[colIndex] ? 'hidden' : 'visible'
                      "
                      >{{ row[colIndex].value }}</span
                    >
                    <input
                      *ngIf="editingItem === row[colIndex]"
                      class="cell-edit-input"
                      [(ngModel)]="editingValue"
                      [ngModelOptions]="{ standalone: true }"
                      (blur)="commitEdit()"
                      (keydown)="
                        onInputKeydown(
                          $event,
                          currentPageIdx,
                          tableIdx,
                          rowIdx,
                          visColIdx
                        )
                      "
                    />
                  </td>
                </ng-container>
                <td class="fd-table__cell fd-table__cell--actions">
                  <button
                    class="fd-button fd-button--transparent fd-button--compact row-delete-btn"
                    (click)="deleteRow(table, row)"
                    title="Zeile löschen"
                  >
                    <i class="sap-icon--delete"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <button
            class="fd-button fd-button--transparent add-row-btn"
            *ngIf="!showOnlyHighlighted"
            (click)="addRow(table)"
          >
            <i class="sap-icon--add"></i>
            Zeile hinzufügen
          </button>
        </div>
      </ng-container>
    </div>

    <div class="content-right thin-scroll" *ngIf="!noAnomaliesMessage">
      <div
        class="image-wrapper"
        *ngIf="currentPage"
        (click)="logBboxCoord($event)"
      >
        <img
          class="correction-page__image"
          [src]="currentPage.image"
          alt="Document page"
        />
        <ng-container *ngIf="activeSourceRefs?.length">
          <div
            *ngFor="let ref of activeSourceRefs"
            class="bbox-highlight"
            [style.left.%]="ref.bbox.x * 100"
            [style.top.%]="ref.bbox.y * 100"
            [style.width.%]="ref.bbox.width * 100"
            [style.height.%]="ref.bbox.height * 100"
          ></div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="ui-correction__footer">
    <div class="pagination-controls" *ngIf="totalPages > 0">
      <button
        class="fd-button fd-button--transparent fd-button--compact py-3 page-arrow"
        (click)="prevPage()"
        [disabled]="currentPageIdx === 0"
      >
        <i class="sap-icon--navigation-left-arrow"></i>
      </button>
      <div class="page-dots">
        <div
          *ngFor="let dot of pageDots; let i = index"
          class="page-dot"
          [class.page-dot--anomaly]="dot.hasAnomaly"
          [class.page-dot--current]="dot.isCurrent"
          [class.page-dot--navigable]="dot.navigable"
          [title]="'Seite ' + (i + 1)"
          (click)="navigateToDot(i)"
        ></div>
      </div>
      <button
        class="fd-button fd-button--transparent fd-button--compact py-3 page-arrow"
        (click)="nextPage()"
        [disabled]="currentPageIdx === totalPages - 1"
      >
        <i class="sap-icon--navigation-right-arrow"></i>
      </button>
    </div>
    <div class="footer-actions">
      <button class="fd-button fd-button--transparent" (click)="cancel()">
        Abbrechen
      </button>
      <button class="fd-button fd-button--emphasized" (click)="confirm()">
        Bestätigen
      </button>
    </div>
  </div>
</div>
