<div class="correction-list">
  <div class="correction-list__header">
    <h1>Manuelle Validierung</h1>
    <p class="correction-list__subtitle">Bitte wählen Sie einen Beleg zur Validierung aus.</p>
  </div>

  <div class="correction-list__items">
    <div
      class="correction-list__item"
      *ngFor="let example of examples"
      (click)="select(example.index)"
    >
      <div class="correction-list__item-number">{{ example.index + 1 }}</div>
      <div class="correction-list__item-info">
        <div class="correction-list__item-title">{{ example.belegart }}</div>
        <div class="correction-list__item-meta">
          {{ example.pageCount }} Seite{{ example.pageCount !== 1 ? 'n' : '' }}
          <span *ngIf="example.hasHighlights" class="correction-list__item-badge" (click)="selectHighlighted(example.index, $event)">Auffälligkeiten</span>
        </div>
      </div>
      <i class="sap-icon--navigation-right-arrow correction-list__item-arrow"></i>
    </div>
  </div>
</div>
