<fd-shellbar>
  <fd-shellbar-logo>
    <a href="#" aria-label="Custom Logo">
      <span class="circle"></span>
    </a>
  </fd-shellbar-logo>

  <fd-shellbar-title> Analyse von Versicherungsanträgen </fd-shellbar-title>

  <fd-shellbar-actions
    [user]="user"
    [userMenu]="userMenu"
    [closePopoverOnSelect]="true"
  >
    <fd-shellbar-action glyph="search" ariaLabel="Search"></fd-shellbar-action>

    <fd-shellbar-action
      *ngFor="let action of actions"
      [glyph]="action.glyph"
      [callback]="action.callback"
      [label]="action.label"
      [notificationCount]="action.notificationCount"
      [notificationLabel]="action.notificationLabel"
    ></fd-shellbar-action>
  </fd-shellbar-actions>
</fd-shellbar>
<div
  class="main-content flex-column d-flex pb-4"
  style="height: calc(100% - 25px)"
>
  <h4 fd-title class="flex-shrink-0 flex-grow-0 mt-5 mb-2 title">
    KI-gestützte Beurteilung von Risikovoranfragen
  </h4>

  <div class="d-flex flex-column w-100 flex-grow-0 flex-shrink-0">
    <fd-toolbar [shouldOverflow]="false">
      <!-- <fd-checkbox
        class="importantOnlyChk"
        [(ngModel)]="showOnlyChecked"
        label="Nur ausgewähltes anzeigen"
      ></fd-checkbox>

      <fd-toolbar-separator class="mx-2"></fd-toolbar-separator> -->

      <!-- search -->
      <fd-input-group
        fd-toolbar-item
        fdCompact
        glyph="search"
        glyphAriaLabel="Search"
        title="Search"
        placeholder="Suche..."
        [button]="true"
        [disabled]="false"
        [(ngModel)]="searchText"
        (addOnButtonClicked)="searchText = ''"
        class="search-input pe-3"
      >
      </fd-input-group>

      <fd-toolbar-separator class="mx-2"></fd-toolbar-separator>

      <!-- contract -->
      <div class="filter-item" fd-toolbar-item>
        <span fd-label class="filter-label">Wunschtarife</span>
        <fd-multi-input
          fdCompact
          inputId="dropdownExampleInput1"
          [dropdownValues]="contracts"
          [(ngModel)]="selectedContracts"
        ></fd-multi-input>
      </div>

      <!-- icd10Codes -->
      <div class="filter-item" fd-toolbar-item>
        <span fd-label class="filter-label">ICD-10 Code</span>
        <fd-multi-input
          fdCompact
          inputId="dropdownExampleInput1"
          [dropdownValues]="codes"
          [(ngModel)]="selectedCodes"
        ></fd-multi-input>
      </div>

      <!-- date range -->
      <div class="filter-item" fd-toolbar-item>
        <span fd-label class="filter-label">Datum</span>
        <fd-date-picker
          fdCompact
          type="range"
          [showTodayButton]="true"
          [(ngModel)]="selectedRange"
        >
        </fd-date-picker>
      </div>

      <!-- SCORE -->
      <!-- <div class="filter-item" fd-toolbar-item>
        <span fd-label class="filter-label">Score</span>
        <fd-multi-input
          fdCompact
          inputId="dropdownExampleInput1"
          [dropdownValues]="scores"
          [(ngModel)]="selectedScores"
        ></fd-multi-input>
      </div> -->

      <!-- Status -->
      <div class="filter-item" fd-toolbar-item>
        <span fd-label class="filter-label">Status</span>
        <fd-multi-input
          fdCompact
          inputId="dropdownExampleInput1"
          [dropdownValues]="statuses"
          [(ngModel)]="selectedStatuses"
        ></fd-multi-input>
      </div>

      <fd-toolbar-separator class="mx-2"></fd-toolbar-separator>

      <button
        class="export-button"
        [disabled]="checkboxValue === false"
        fdCompact
        fd-toolbar-item
        fd-button
        fdType="emphasized"
        glyph="download"
        aria-label="Exportieren"
        (click)="generarePdf()"
      ></button>
    </fd-toolbar>
  </div>

  <div
    class="scrollable-table w-100 flex-grow-1 flex-shrink-1 d-flex flex-column"
  >
    <table fd-table fdCompact [responsive]="true">
      <thead fd-table-header [noBorderY]="true">
        <tr fd-table-row>
          <th fd-table-cell>
            <fd-checkbox
              aria-label="Select all"
              title="Select all"
              [tristate]="true"
              [ngModel]="checkboxValue"
              (ngModelChange)="selectAll($event)"
            ></fd-checkbox>
          </th>
          <!-- <th fd-table-cell class="col-name">Patienten</th> -->
          <th fd-table-cell class="col-job">Beruf</th>
          <th fd-table-cell class="col-gender">Geschlecht</th>
          <th fd-table-cell class="col-date">Geburtstag</th>
          <th fd-table-cell class="col-contract">Wunschtarife</th>
          <th fd-table-cell class="col-icd10Codes">ICD-10 Codes</th>
          <th fd-table-cell class="col-date">Datum</th>
          <!-- <th fd-table-cell class="col-score">Score</th> -->
          <th fd-table-cell class="col-status text-center">Status</th>
        </tr>
      </thead>
      <tbody fd-table-body [noBorderY]="true">
        <ng-container *ngFor="let row of filteredCompainSDKData; let i = index">
          <tr
            *ngIf="!row.expanded"
            fd-table-row
            [hoverable]="true"
            [class.checked]="row.checked"
            [class.expanded]="row.expanded"
            (click)="toggleRowExpansion(i)"
          >
            <td fd-table-cell class="px-0 col-check">
              <div class="d-flex h-100 align-items-center">
                <fd-checkbox
                  [attr.aria-label]="'Select row ' + (i + 1)"
                  [attr.title]="'Select row ' + (i + 1)"
                  [value]="row.checked"
                  (click)="
                    $event.preventDefault();
                    $event.stopPropagation();
                    row.checked ? (row.checked = false) : (row.checked = true);
                    select(i)
                  "
                ></fd-checkbox>
              </div>
            </td>
            <!-- <td fd-table-cell class="col-name">
              <span fd-table-text *ngIf="!row.expanded">{{
                row.metadata.patient_name
              }}</span>
            </td> -->
            <td fd-table-cell class="col-job">
              <span
                fd-table-text
                *ngIf="!row.expanded && row.metadata.occupation"
                >{{ row.metadata.occupation }}</span
              >
              <span
                fd-table-text
                *ngIf="!row.expanded && !row.metadata.occupation"
                class="na"
                >{{ "N/A" }}</span
              >
            </td>
            <td fd-table-cell class="col-gender">
              <span fd-table-text *ngIf="!row.expanded">{{
                row.metadata.gender
              }}</span>
            </td>
            <td fd-table-cell class="col-date">
              <span fd-table-text *ngIf="!row.expanded">{{
                row.metadata.date_of_birth
              }}</span>
            </td>
            <td fd-table-cell class="col-contract">
              <span fd-table-text *ngIf="!row.expanded" class="flex-wrap">{{
                row.metadata.contract_types.join(", ")
              }}</span>
            </td>
            <td fd-table-cell class="col-icd10Codes pt-1 pb-1">
              <span fd-table-text *ngIf="!row.expanded" class="flex-wrap">
                <span
                  *ngFor="let icd of row.icds"
                  class="code me-2 py-1 px-2"
                  [class.highlighted]="icd.highlighted"
                  (click)="
                    open_icd = icd;
                    open_rejection = false;
                    $event.preventDefault();
                    $event.stopPropagation();
                    openDialog(confirmationDialog)
                  "
                >
                  {{ icd.icd_code }}
                </span>
                <span
                  *ngFor="let icd of row.rejections"
                  class="code-rejection me-2 py-1 px-2"
                  (click)="
                    open_icd = icd;
                    open_rejection = true;
                    $event.preventDefault();
                    $event.stopPropagation();
                    openDialog(confirmationDialog)
                  "
                >
                  {{ icd.icd_code }}
                </span>
              </span>
            </td>
            <td fd-table-cell class="col-date">
              <span
                fd-table-text
                *ngIf="
                  !row.expanded &&
                  (row.metadata.timestamp || row.metadata.document_date)
                "
                >{{
                  row.metadata.timestamp || row.metadata.document_date
                }}</span
              >

              <span
                fd-table-text
                *ngIf="
                  !row.expanded &&
                  !(row.metadata.timestamp || row.metadata.document_date)
                "
                class="na"
                >{{ "N/A" }}</span
              >
            </td>
            <!-- <td fd-table-cell class="col-score fw-bold">
              <span fd-table-text *ngIf="!row.expanded" class="fw-bold">{{
                row.score
              }}</span>
            </td> -->
            <td
              fd-table-cell
              class="col-status"
              style="border-left-style: none"
            >
              <span
                *ngIf="!row.expanded"
                fd-table-text
                class="status-tag"
                [ngClass]="getStatusClass(row.status)"
                >{{ row.status || "Offen" }}</span
              >
            </td>
          </tr>
          <tr *ngIf="row.expanded" (click)="toggleRowExpansion(i)">
            <td
              fd-table-cell
              class="px-0 col-check expanded-col"
              style="width: 40px"
            >
              <div
                class="d-flex h-100 align-items-top"
                style="padding-top: 18px"
              >
                <fd-checkbox
                  [attr.aria-label]="'Select row ' + (i + 1)"
                  [attr.title]="'Select row ' + (i + 1)"
                  [value]="row.checked"
                  (click)="
                    $event.preventDefault();
                    $event.stopPropagation();
                    row.checked ? (row.checked = false) : (row.checked = true);
                    select(i)
                  "
                ></fd-checkbox>
              </div>
            </td>
            <td fd-table-cell colspan="11" class="expanded-details ps-0">
              <div class="expanded-details-content pb-4 w-100">
                <div
                  class="d-flex w-100 flex-row pt-4 gap-3 w-100 position-relative"
                >
                  <div class="d-flex flex-row flex-shrink-1 flex-grow-1">
                    <!-- Antragsteller-->
                    <div class="d-flex flex-column me-2" style="width: 20%">
                      <span class="mb-3 fs-17"
                        ><strong>Antragsteller</strong></span
                      >

                      <div class="d-flex flex-row" style="max-width: 700px">
                        <span class="fw-bold me-2">Patienten:</span>
                        <span>{{ row.metadata.patient_name }}</span>
                      </div>
                      <div class="d-flex flex-row" style="max-width: 700px">
                        <span class="fw-bold me-2">Beruf:</span>
                        <span
                          *ngIf="row.metadata.occupation; else noOccupation"
                          >{{ row.metadata.occupation }}</span
                        >
                        <ng-template #noOccupation
                          ><span class="na">N/A</span></ng-template
                        >
                      </div>
                      <div>
                        <span class="fw-bold me-2">Geschlecht:</span>
                        <span>{{ row.metadata.gender }}</span>
                      </div>
                      <div>
                        <span class="fw-bold me-2">Geburtstag:</span>
                        <span>{{ row.metadata.date_of_birth }}</span>
                      </div>
                      <div class="d-flex">
                        <span class="fw-bold me-2">Wunschtarife:</span>
                        <span>{{
                          row.metadata.contract_types.join(", ")
                        }}</span>
                      </div>

                      <!-- Beurteilung -->
                      <div class="mt-5">
                        <div class="fw-bold fs-17">Beurteilung</div>
                        <div class="fw-bold">
                          <fd-combobox
                            fdCompact
                            ariaLabel="Standard"
                            placeholder="Bewertung wählen"
                            [dropdownValues]="evaluations"
                            [ngModel]="row.evaluation || evaluations[0]"
                            (ngModelChange)="row.evaluation = $event"
                            (click)="$event.stopPropagation()"
                          >
                          </fd-combobox>
                        </div>
                      </div>
                    </div>

                    <!-- Diseases -->
                    <div class="d-flex flex-column mx-4" style="width: 80%">
                      <span class="mb-3 fs-17"
                        ><strong>Krankheiten</strong></span
                      >

                      <div
                        *ngFor="let icd of row.icds"
                        class="pb-4 mb-4 d-flex flex-row icd gap-2"
                      >
                        <div class="d-flex flex-column icd gap-2">
                          <span
                            class="code me-2 py-1 px-2 flex-grow-0"
                            [class.highlighted]="icd.highlighted"
                          >
                            {{ icd.icd_code }}
                          </span>
                          <div class="line flex-grow-1"></div>
                        </div>

                        <div class="d-flex flex-column">
                          <span class="mt-1">
                            {{ icd.icd_name }}
                          </span>
                          <span class="fw-bold me-2 mt-2"
                            >Relevante Textstellen:</span
                          >
                          <ul class="mb-2">
                            <li *ngFor="let e of icd.evidence">
                              {{ sanitizeEvidence(e) }}
                            </li>
                          </ul>
                          <div>
                            <span class="fw-bold me-2">Begründung:</span>
                            <span class="d-inline-block">
                              {{ icd.justification }}
                            </span>
                          </div>
                        </div>
                      </div>

                      <div
                        *ngFor="let icd of row.rejections"
                        class="pb-4 mb-4 d-flex flex-row icd gap-2"
                      >
                        <div class="d-flex flex-column icd gap-2">
                          <span
                            class="code-rejection me-2 py-1 px-2 flex-grow-0"
                          >
                            {{ icd.icd_code }}
                          </span>
                          <div class="line-rejection flex-grow-1"></div>
                        </div>

                        <div class="d-flex flex-column">
                          <span class="mt-1">
                            {{ icd.icd_name }}
                          </span>
                          <span class="fw-bold me-2 mt-2"
                            >Relevante Textstellen:</span
                          >
                          <ul class="mb-2">
                            <li *ngFor="let e of icd.evidence">
                              {{ sanitizeEvidence(e) }}
                            </li>
                          </ul>
                          <div>
                            <span class="fw-bold me-2">Begründung:</span>
                            <span class="d-inline-block">
                              {{ icd.justification }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Status & Score -->
                  <div
                    class="d-flex flex-column ms-4 flex-grow-0 flex-shrink-0 mt-2"
                    style="position: absolute; right: 10px; top: 10px"
                  >
                    <div class="d-flex flex-row w-100">
                      <!-- <div>
                        <span class="table-col222 fw-bold ps-3 pt-2">{{
                          row.score
                        }}</span>
                      </div> -->
                      <div class="mb-3 align-self-end mt-2">
                        <!-- <span class="table-col111 fw-bold">Status</span> -->
                        <span
                          class="fw-bold status-tag px-2"
                          style="width: 132px"
                          [ngClass]="getStatusClass(row.status)"
                          >{{ row.status || "Offen" }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <fd-busy-indicator
    *ngIf="loading"
    [loading]="loading"
    ariaLabel="loading"
    title="Please Wait"
    class="justify-content-center mb-2 me-3"
  >
  </fd-busy-indicator>
</div>

<ng-template let-dialog let-dialogConfig="dialogConfig" #confirmationDialog>
  <fd-dialog [dialogConfig]="dialogConfig" [dialogRef]="dialog">
    <fd-dialog-body>
      <button
        class="close-button position-absolute sap-position-top-0 sap-position-right-0"
        aria-label="Schließen"
        (click)="dialog.dismiss('Cancel')"
      >
        ✕
      </button>
      <div class="d-flex icd gap-2 px-4 pt-3 pb-2">
        <span
          [class.highlighted]="open_icd.highlighted"
          class="{{
            open_rejection ? 'code-rejection' : 'code'
          }} me-2 py-1 px-2 flex-grow-0"
        >
          {{ open_icd.icd_code }}
        </span>
        <span class="mt-1">
          {{ open_icd.icd_name }}
        </span>
      </div>
      <div class="w-100 px-4 py-2">
        <div
          style="
            border-top: 1px solid rgb(233, 228, 228);
            width: 100%;
            height: 2px;
          "
        ></div>
      </div>

      <div class="d-flex flex-column px-4 pb-4">
        <span class="fw-bold me-2 mt-2">Relevante Textstellen:</span>
        <ul class="mb-2">
          <li *ngFor="let e of open_icd.evidence">
            {{ sanitizeEvidence(e) }}
          </li>
        </ul>
        <div>
          <div class="fw-bold me-2 mt-2">Begründung:</div>
          <span class="d-inline-block">
            {{ open_icd.justification }}
          </span>
        </div>
      </div>
    </fd-dialog-body>

    <fd-dialog-footer>
      <fd-button-bar
        class="my-2 mb-3"
        label="Schließen"
        (click)="dialog.dismiss('Cancel')"
        ariaLabel="Close"
      ></fd-button-bar>
    </fd-dialog-footer>
  </fd-dialog>
</ng-template>
