<fd-shellbar>
  <fd-shellbar-logo>
    <a href="#" aria-label="Custom Logo">
      <span class="circle"></span>
    </a>
  </fd-shellbar-logo>

  <fd-shellbar-title> Analyse von Versicherungsanträgen </fd-shellbar-title>

  <fd-shellbar-actions
    [user]="user"
    [userMenu]="userMenu"
    [closePopoverOnSelect]="true"
  >
    <fd-shellbar-action glyph="search" ariaLabel="Search"></fd-shellbar-action>

    <fd-shellbar-action
      *ngFor="let action of actions"
      [glyph]="action.glyph"
      [callback]="action.callback"
      [label]="action.label"
      [notificationCount]="action.notificationCount"
      [notificationLabel]="action.notificationLabel"
    ></fd-shellbar-action>
  </fd-shellbar-actions>
</fd-shellbar>

<fd-flexible-column-layout [(layout)]="layout" class="h-100 w-100 d-flex">
  <ng-template #startColumn>
    <div
      class="main-content flex-column d-flex pb-4"
      style="height: calc(100% - 25px)"
    >
      <h4 fd-title class="flex-shrink-0 flex-grow-0 mt-5 mb-2 title">
        KI-gestützte Beurteilung von Risikovoranfragen
      </h4>

      <!-- toolbar: search & filters -->
      <div class="d-flex flex-column w-100 flex-grow-0 flex-shrink-0">
        <fd-toolbar [shouldOverflow]="false">
          <!-- search -->
          <fd-input-group
            fd-toolbar-item
            fdCompact
            glyph="search"
            glyphAriaLabel="Search"
            title="Search"
            placeholder="Suche..."
            [button]="true"
            [disabled]="false"
            [(ngModel)]="searchText"
            (addOnButtonClicked)="searchText = ''"
            class="search-input pe-3"
          >
          </fd-input-group>

          <fd-toolbar-separator class="mx-2"></fd-toolbar-separator>

          <!-- contract -->
          <div class="filter-item" fd-toolbar-item>
            <span fd-label class="filter-label">Wunschtarife</span>
            <fd-multi-input
              fdCompact
              inputId="dropdownExampleInput1"
              [dropdownValues]="contracts"
              [(ngModel)]="selectedContracts"
            ></fd-multi-input>
          </div>

          <!-- icd10Codes -->
          <div class="filter-item" fd-toolbar-item>
            <span fd-label class="filter-label">ICD-10 Code</span>
            <fd-multi-input
              fdCompact
              inputId="dropdownExampleInput1"
              [dropdownValues]="codes"
              [(ngModel)]="selectedCodes"
            ></fd-multi-input>
          </div>

          <!-- date range -->
          <div class="filter-item" fd-toolbar-item>
            <span fd-label class="filter-label">Datum</span>
            <fd-date-picker
              fdCompact
              type="range"
              [showTodayButton]="true"
              [(ngModel)]="selectedRange"
            >
            </fd-date-picker>
          </div>

          <!-- Status -->
          <div class="filter-item" fd-toolbar-item>
            <span fd-label class="filter-label">Status</span>
            <fd-multi-input
              fdCompact
              inputId="dropdownExampleInput1"
              [dropdownValues]="statuses"
              [(ngModel)]="selectedStatuses"
            ></fd-multi-input>
          </div>

          <fd-toolbar-separator class="mx-2"></fd-toolbar-separator>

          <button
            class="export-button"
            [disabled]="checkboxValue === false"
            fdCompact
            fd-toolbar-item
            fd-button
            fdType="emphasized"
            glyph="download"
            aria-label="Exportieren"
            title="PDF exportieren"
            (click)="generarePdf()"
          ></button>
        </fd-toolbar>
      </div>

      <!-- table -->
      <div
        class="scrollable-table w-100 flex-grow-1 flex-shrink-1 d-flex flex-column"
      >
        <table fd-table fdCompact [responsive]="true">
          <thead fd-table-header [noBorderY]="true">
            <tr fd-table-row>
              <th fd-table-cell>
                <fd-checkbox
                  aria-label="Select all"
                  title="Select all"
                  [tristate]="true"
                  [ngModel]="checkboxValue"
                  (ngModelChange)="selectAll($event)"
                ></fd-checkbox>
              </th>
              <!-- <th fd-table-cell class="col-name">Patienten</th> -->
              <th fd-table-cell class="col-job">Beruf</th>
              <th fd-table-cell class="col-gender">Geschlecht</th>
              <th fd-table-cell class="col-date">Geburtstag</th>
              <th fd-table-cell class="col-contract">Wunschtarife</th>
              <th fd-table-cell class="col-medication">Medikamente</th>
              <th fd-table-cell class="col-medical_procedures">
                Medizinische Maßnahmen
              </th>
              <th fd-table-cell class="col-icd10Codes">ICD-10 Codes</th>
              <th fd-table-cell class="col-date">Datum</th>
              <!-- <th fd-table-cell class="col-score">Score</th> -->
              <th fd-table-cell class="col-status text-center">Status</th>
              <th fd-table-cell class="col-details text-center"></th>
            </tr>
          </thead>
          <tbody fd-table-body [noBorderY]="true">
            <ng-container
              *ngFor="let row of filteredCompainSDKData; let i = index"
            >
              <tr
                fd-table-row
                [hoverable]="true"
                [class.checked]="row.checked"
                (click)="
                  detailedRow = row; changeLayout('OneColumnMidFullScreen')
                "
              >
                <td fd-table-cell class="px-0 col-check">
                  <div class="d-flex h-100 align-items-center">
                    <fd-checkbox
                      [attr.aria-label]="'Select row ' + (i + 1)"
                      [attr.title]="'Select row ' + (i + 1)"
                      [value]="row.checked"
                      (click)="
                        $event.preventDefault();
                        $event.stopPropagation();
                        row.checked
                          ? (row.checked = false)
                          : (row.checked = true);
                        select(i)
                      "
                    ></fd-checkbox>
                  </div>
                </td>
                <td fd-table-cell class="col-job">
                  <span fd-table-text *ngIf="row.metadata?.job; else noJob">{{
                    row.metadata?.job
                  }}</span>
                  <ng-template #noJob fd-table-text class="na">{{
                    "-"
                  }}</ng-template>
                </td>
                <td fd-table-cell class="col-gender">
                  <span fd-table-text>{{ row.metadata?.gender }}</span>
                </td>
                <td fd-table-cell class="col-date">
                  <span fd-table-text>{{ row.metadata?.date_of_birth }}</span>
                </td>
                <td fd-table-cell class="col-contract">
                  <span fd-table-text class="flex-wrap">{{
                    row.metadata?.contract_types.join(", ")
                  }}</span>
                </td>
                <td fd-table-cell class="col-medication">
                  <span fd-table-text class="flex-wrap">{{
                    row.medication?.join(", ")
                  }}</span>
                </td>
                <td fd-table-cell class="col-medical_procedures">
                  <span fd-table-text class="flex-wrap">{{
                    row.medical_procedures?.join(", ")
                  }}</span>
                </td>

                <td fd-table-cell class="col-icd10Codes pt-1 pb-1">
                  <span fd-table-text class="flex-wrap">
                    <span
                      *ngFor="let icd of row.icds"
                      class="code d-inline-block position-relative"
                      [class.dashed]="icd.score < reasonableThreshold"
                      [class.double_mark]="
                        icd.score < reasonableThreshold && icd.highlighted
                      "
                      (click)="
                        detailedICD = icd;
                        detailedICD_isRejection = false;
                        $event.preventDefault();
                        $event.stopPropagation();
                        openDialog(confirmationDialog)
                      "
                    >
                      <span>{{ icd.icd_code }}</span>
                      <span class="exclamationMark" *ngIf="icd.highlighted"
                        >!</span
                      >
                      <span
                        class="questionMark"
                        *ngIf="icd.score < reasonableThreshold"
                        >?</span
                      >
                    </span>
                    <span
                      *ngFor="let icd of row.rejections"
                      class="code-rejection d-inline-block position-relative"
                      [class.dashed]="icd.score < reasonableThreshold"
                      [class.double_mark]="
                        icd.score < reasonableThreshold && icd.highlighted
                      "
                      (click)="
                        detailedICD = icd;
                        detailedICD_isRejection = true;
                        $event.preventDefault();
                        $event.stopPropagation();
                        openDialog(confirmationDialog)
                      "
                    >
                      <span>{{ icd.icd_code }}</span>
                      <span class="exclamationMark" *ngIf="icd.highlighted"
                        >!</span
                      >
                      <span
                        class="questionMark"
                        *ngIf="icd.score < reasonableThreshold"
                        >?</span
                      >
                    </span>
                  </span>
                </td>
                <td fd-table-cell class="col-date">
                  <span fd-table-text *ngIf="row.timestamp; else noTimestamp">{{
                    row.timestamp
                  }}</span>

                  <ng-template #noTimestamp fd-table-text>{{
                    today | date : "dd.MM.yyyy"
                  }}</ng-template>
                </td>

                <td
                  fd-table-cell
                  class="col-status"
                  style="border-left-style: none"
                >
                  <span
                    fd-table-text
                    class="status-tag"
                    [ngClass]="getStatusClass(row.status)"
                    >{{ row.status || "Offen" }}</span
                  >
                </td>

                <td fd-table-cell [fitContent]="true">
                  <button
                    class="fd-button fd-button--transparent"
                    title="Navigate"
                    (click)="
                      detailedRow = row; changeLayout('OneColumnMidFullScreen')
                    "
                    aria-label="navigation"
                  >
                    <i [class]="'sap-icon--navigation-right-arrow'"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <!-- busy indicator -->
      <fd-busy-indicator
        *ngIf="loading"
        [loading]="loading"
        ariaLabel="loading"
        title="Please Wait"
        class="justify-content-center mb-2 me-3"
      >
      </fd-busy-indicator>
    </div>
  </ng-template>
  <ng-template #midColumn>
    <div class="d-flex w-100 flex-column row-details" *ngIf="detailedRow">
      <!-- header: title + close button -->
      <div
        class="d-flex w-100 flex-grow-0 flex-shrink-0 details-header ps-5 pe-1 py-3 align-items-center"
      >
        <button
          class="fd-button fd-button--transparent details-back"
          title="Navigate"
          (click)="detailedRow = null; changeLayout('OneColumnStartFullScreen')"
          aria-label="navigation"
        >
          <i [class]="'sap-icon--navigation-left-arrow'"></i>
        </button>
        <div
          class="d-flex flex-column w-100 flex-shrink-1 flex-grow-1"
          style="height: auto"
        >
          <h4 fd-title class="title" style="height: 20px">Details</h4>
        </div>

        <!-- feedback -->
        <button
          class="export-button me-3"
          fdCompact
          fd-toolbar-item
          fd-button
          glyph="feedback"
          aria-label="Feedback"
          title="Gesendetes Feedback"
          (click)="
            localLayout =
              localLayout === 'TwoColumnsMidExpanded'
                ? 'OneColumnStartFullScreen'
                : 'TwoColumnsMidExpanded'
          "
        ></button>

        <!-- export -->
        <button
          class="export-button me-3"
          fdCompact
          fd-toolbar-item
          fd-button
          glyph="download"
          aria-label="Exportieren"
          title="PDF exportieren"
          (click)="generarePdf(detailedRow)"
        ></button>

        <!-- close -->
        <button
          class="flex-grow-0 flex-shrink-0 close-details-button me-1"
          fd-button
          fdCompact
          fdType="transparent"
          aria-label="Close"
          (click)="detailedRow = null; changeLayout('OneColumnStartFullScreen')"
          title="Close"
        >
          <i class="sap-icon--decline"></i>
        </button>
      </div>
      <!-- content: row details -->
      <fd-flexible-column-layout
        [(layout)]="localLayout"
        class="details-layout"
      >
        <ng-template #startColumn>
          <div
            class="d-flex w-100 h-100 flex-grow-1 flex-shrink-1 row-details-content px-5 py-2"
          >
            <div
              class="d-flex w-100 flex-row pt-4 gap-3 w-100 position-relative"
            >
              <div class="d-flex flex-row flex-shrink-1 flex-grow-1">
                <!-- Antragsteller, Medication, Medical procedures-->
                <div class="d-flex flex-column me-2" style="width: 20%">
                  <!-- Antragsteller -->
                  <span class="mb-1 section-title"
                    ><strong>Antragsteller</strong></span
                  >

                  <div
                    class="d-flex flex-column mb-2"
                    style="line-height: 16px"
                  >
                    <div class="d-flex flex-row" style="max-width: 700px">
                      <span class="icd-subtitle me-1">Patienten:</span>
                      <span
                        class="feedback-wrapper {{
                          getItemClass('metadata.patient_name')
                        }}"
                        [ngxTippy]="
                          hasFeedback('metadata.patient_name')
                            ? tooltipTemplate
                            : null
                        "
                        [tippyProps]="{
                          delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                        [tippyContext]="{
                          data: getItemTooltip('metadata.patient_name')
                        }"
                        (click)="
                          openFeedbackModal(
                            feedbackDialog,
                            'metadata.patient_name'
                          )
                        "
                        >{{ detailedRow.metadata?.patient_name || "-" }}</span
                      >
                    </div>

                    <div class="d-flex flex-row" style="max-width: 700px">
                      <span class="icd-subtitle me-1">Beruf:</span>
                      <span
                        class="feedback-wrapper {{
                          getItemClass('metadata.job')
                        }}"
                        [ngxTippy]="
                          hasFeedback('metadata.job') ? tooltipTemplate : null
                        "
                        [tippyProps]="{
                          delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                        [tippyContext]="{
                          data: getItemTooltip('metadata.job')
                        }"
                        (click)="
                          openFeedbackModal(feedbackDialog, 'metadata.job')
                        "
                        >{{ detailedRow.metadata?.job || "-" }}</span
                      >
                    </div>

                    <div class="d-flex flex-row">
                      <span class="icd-subtitle me-1">Geschlecht:</span>
                      <span
                        class="feedback-wrapper {{
                          getItemClass('metadata.gender')
                        }}"
                        [ngxTippy]="
                          hasFeedback('metadata.gender')
                            ? tooltipTemplate
                            : null
                        "
                        [tippyProps]="{
                          delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                        [tippyContext]="{
                          data: getItemTooltip('metadata.gender')
                        }"
                        (click)="
                          openFeedbackModal(feedbackDialog, 'metadata.gender')
                        "
                        >{{ detailedRow.metadata?.gender || "-" }}</span
                      >
                    </div>

                    <div class="d-flex flex-row">
                      <span class="icd-subtitle me-1">Geburtstag:</span>
                      <span
                        class="feedback-wrapper {{
                          getItemClass('metadata.date_of_birth')
                        }}"
                        [ngxTippy]="
                          hasFeedback('metadata.date_of_birth')
                            ? tooltipTemplate
                            : null
                        "
                        [tippyProps]="{
                         delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                        [tippyContext]="{
                          data: getItemTooltip('metadata.date_of_birth')
                        }"
                        (click)="
                          openFeedbackModal(
                            feedbackDialog,
                            'metadata.date_of_birth'
                          )
                        "
                        >{{ detailedRow.metadata?.date_of_birth || "-" }}</span
                      >
                    </div>

                    <div class="d-flex flex-row align-items-center">
                      <span class="icd-subtitle me-1">Wunschtarife:</span>
                      <span
                        *ngFor="
                          let ct of detailedRow.metadata?.contract_types;
                          let j = index;
                          let last = last
                        "
                      >
                        <span
                          class="feedback-wrapper {{
                            getItemClass('metadata.contract_types', j)
                          }}"
                          [ngxTippy]="
                            hasFeedback('metadata.contract_types', j)
                              ? tooltipTemplate
                              : null
                          "
                          [tippyProps]="{
                          delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                          [tippyContext]="{
                            data: getItemTooltip('metadata.contract_types', j)
                          }"
                          (click)="
                            openFeedbackModal(
                              feedbackDialog,
                              'metadata.contract_types',
                              j
                            )
                          "
                          >{{ ct }}</span
                        >{{ last ? "" : "," }}</span
                      >
                    </div>
                  </div>

                  <!-- Medication -->
                  <span class="mb-1 section-title mt-3"
                    ><strong>Medikamente</strong></span
                  >
                  <ul *ngIf="detailedRow.medication?.length; else noMedication">
                    <li *ngFor="let m of detailedRow.medication; let i = index">
                      <span
                        class="feedback-wrapper {{
                          getItemClass('medication', i)
                        }}"
                        [ngxTippy]="
                          hasFeedback('medication', i) ? tooltipTemplate : null
                        "
                        [tippyProps]="{
                          delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                        [tippyContext]="{
                          data: getItemTooltip('medication', i)
                        }"
                        (click)="
                          openFeedbackModal(feedbackDialog, 'medication', i)
                        "
                      >
                        {{ m }}
                      </span>
                    </li>
                  </ul>
                  <ng-template #noMedication
                    ><span class="na">-</span></ng-template
                  >

                  <!-- Medical procedures -->
                  <span class="mb-1 section-title mt-3"
                    ><strong>Medizinische Maßnahmen</strong></span
                  >
                  <ul
                    *ngIf="
                      detailedRow.medication?.length;
                      else noMedicalProcedures
                    "
                  >
                    <li
                      *ngFor="
                        let m of detailedRow.medical_procedures;
                        let i = index
                      "
                    >
                      <span
                        class="feedback-wrapper {{
                          getItemClass('medical_procedures', i)
                        }}"
                        [ngxTippy]="
                          hasFeedback('medical_procedures', i)
                            ? tooltipTemplate
                            : null
                        "
                        [tippyProps]="{
                         delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                        [tippyContext]="{
                          data: getItemTooltip('medical_procedures', i)
                        }"
                        (click)="
                          openFeedbackModal(
                            feedbackDialog,
                            'medical_procedures',
                            i
                          )
                        "
                      >
                        {{ m }}
                      </span>
                    </li>
                  </ul>
                  <ng-template #noMedicalProcedures
                    ><span class="na">-</span></ng-template
                  >

                  <!-- Beurteilung -->
                  <div class="mt-3">
                    <div class="fw-bold section-title">Beurteilung</div>
                    <div class="fw-bold">
                      <fd-combobox
                        fdCompact
                        ariaLabel="Standard"
                        placeholder="Bewertung wählen"
                        [dropdownValues]="evaluations"
                        [ngModel]="detailedRow.evaluation || evaluations[0]"
                        (ngModelChange)="detailedRow.evaluation = $event"
                        (click)="$event.stopPropagation()"
                      >
                      </fd-combobox>
                    </div>
                  </div>
                </div>

                <!-- Diseases -->
                <div class="d-flex flex-column mx-4" style="width: 80%">
                  <span class="mb-2 section-title"
                    ><strong>Krankheiten</strong></span
                  >

                  <div
                    *ngFor="let icd of detailedRow.icds; let i = index"
                    class="pb-3 mb-3 d-flex flex-row icd gap-2"
                  >
                    <div class="d-flex flex-column icd gap-2">
                      <span
                        class="code feedback-code flex-grow-0 d-inline-block position-relative {{
                          getItemClass('icds.icd_code', i)
                        }}"
                        [class.dashed]="icd.score < reasonableThreshold"
                        [class.double_mark]="
                          icd.score < reasonableThreshold && icd.highlighted
                        "
                        [ngxTippy]="
                          hasFeedback('icds.icd_code', i)
                            ? tooltipTemplate
                            : null
                        "
                        [tippyProps]="{
                          delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                        [tippyContext]="{
                          data: getItemTooltip('icds.icd_code', i)
                        }"
                        (click)="
                          openFeedbackModal(feedbackDialog, 'icds.icd_code', i)
                        "
                      >
                        <span class="exclamationMark" *ngIf="icd.highlighted"
                          >!</span
                        >
                        <span>{{ icd.icd_code }}</span>
                        <span
                          class="questionMark"
                          *ngIf="icd.score < reasonableThreshold"
                          >?</span
                        >
                      </span>
                      <div class="line flex-grow-1"></div>
                    </div>

                    <div class="d-flex flex-column">
                      <span class="mt-1 icd-name">
                        <span
                          class="feedback-wrapper {{
                            getItemClass('icds.icd_name', i)
                          }}"
                          [ngxTippy]="
                            hasFeedback('icds.icd_name', i)
                              ? tooltipTemplate
                              : null
                          "
                          [tippyProps]="{
                          delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                          [tippyContext]="{
                            data: getItemTooltip('icds.icd_name', i)
                          }"
                          (click)="
                            openFeedbackModal(
                              feedbackDialog,
                              'icds.icd_name',
                              i
                            )
                          "
                        >
                          {{ icd.icd_name }}
                        </span>
                      </span>
                      <span class="me-2 mt-2 icd-subtitle"
                        >Relevante Textstellen:</span
                      >
                      <ul class="mb-2">
                        <li *ngFor="let e of icd.evidence; let j = index">
                          <span
                            class="feedback-wrapper {{
                              getItemClass('icds.evidence', i, j)
                            }}"
                            [ngxTippy]="
                              hasFeedback('icds.evidence', i, j)
                                ? tooltipTemplate
                                : null
                            "
                            [tippyProps]="{
                          delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                            [tippyContext]="{
                              data: getItemTooltip('icds.evidence', i, j)
                            }"
                            (click)="
                              openFeedbackModal(
                                feedbackDialog,
                                'icds.evidence',
                                i,
                                j
                              )
                            "
                          >
                            {{ sanitizeEvidence(e) }}
                          </span>
                        </li>
                      </ul>
                      <div>
                        <span class="me-2 icd-subtitle">Begründung</span>
                        <span *ngIf="icd.score"> (</span>
                        <span
                          *ngIf="icd.score"
                          class="fw-bold feedback-wrapper {{
                            getItemClass('icds.score', i)
                          }}"
                          [ngxTippy]="
                            hasFeedback('icds.score', i)
                              ? tooltipTemplate
                              : null
                          "
                          [tippyProps]="{
                         delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                          [tippyContext]="{
                            data: getItemTooltip('icds.score', i)
                          }"
                          (click)="
                            openFeedbackModal(feedbackDialog, 'icds.score', i)
                          "
                          >{{ icd.score }}%</span
                        >
                        <span *ngIf="icd.score">)</span>
                        <span>:</span>
                        <span
                          class="d-inline-block ms-4 feedback-wrapper {{
                            getItemClass('icds.justification', i)
                          }}"
                          [ngxTippy]="
                            hasFeedback('icds.justification', i)
                              ? tooltipTemplate
                              : null
                          "
                          [tippyProps]="{
                          delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                          [tippyContext]="{
                            data: getItemTooltip('icds.justification', i)
                          }"
                          (click)="
                            openFeedbackModal(
                              feedbackDialog,
                              'icds.justification',
                              i
                            )
                          "
                        >
                          {{ icd.justification }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div
                    *ngFor="let icd of detailedRow.rejections; let i = index"
                    class="pb-3 mb-3 d-flex flex-row icd gap-2"
                  >
                    <div class="d-flex flex-column icd gap-2">
                      <span
                        class="code-rejection feedback-code flex-grow-0 d-inline-block position-relative {{
                          getItemClass('rejections.icd_code', i)
                        }}"
                        [class.dashed]="icd.score < reasonableThreshold"
                        [class.double_mark]="
                          icd.score < reasonableThreshold && icd.highlighted
                        "
                        [ngxTippy]="
                          hasFeedback('rejections.icd_code', i)
                            ? tooltipTemplate
                            : null
                        "
                        [tippyProps]="{
                          delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                        [tippyContext]="{
                          data: getItemTooltip('rejections.icd_code', i)
                        }"
                        (click)="
                          openFeedbackModal(
                            feedbackDialog,
                            'rejections.icd_code',
                            i
                          )
                        "
                      >
                        <span> {{ icd.icd_code }}</span>
                        <span class="exclamationMark" *ngIf="icd.highlighted"
                          >!</span
                        >
                        <span
                          class="questionMark"
                          *ngIf="icd.score < reasonableThreshold"
                          >?</span
                        >
                      </span>
                      <div class="line-rejection flex-grow-1"></div>
                    </div>

                    <div class="d-flex flex-column">
                      <span class="mt-1 icd-name">
                        <span
                          class="feedback-wrapper {{
                            getItemClass('rejections.icd_name', i)
                          }}"
                          [ngxTippy]="
                            hasFeedback('rejections.icd_name', i)
                              ? tooltipTemplate
                              : null
                          "
                          [tippyProps]="{
                          delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                          [tippyContext]="{
                            data: getItemTooltip('rejections.icd_name', i)
                          }"
                          (click)="
                            openFeedbackModal(
                              feedbackDialog,
                              'rejections.icd_name',
                              i
                            )
                          "
                        >
                          {{ icd.icd_name }}
                        </span>
                      </span>
                      <span class="me-2 mt-2 icd-subtitle"
                        >Relevante Textstellen:</span
                      >
                      <ul class="mb-2">
                        <li *ngFor="let e of icd.evidence; let j = index">
                          <span
                            class="feedback-wrapper {{
                              getItemClass('rejections.evidence', i, j)
                            }}"
                            [ngxTippy]="
                              hasFeedback('rejections.evidence', i, j)
                                ? tooltipTemplate
                                : null
                            "
                            [tippyProps]="{
                         delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                            [tippyContext]="{
                              data: getItemTooltip('rejections.evidence', i, j)
                            }"
                            (click)="
                              openFeedbackModal(
                                feedbackDialog,
                                'rejections.evidence',
                                i,
                                j
                              )
                            "
                          >
                            {{ sanitizeEvidence(e) }}
                          </span>
                        </li>
                      </ul>
                      <div>
                        <span class="me-2 icd-subtitle">Begründung</span>
                        <span *ngIf="icd.score"> (</span>
                        <span
                          *ngIf="icd.score"
                          class="fw-bold feedback-wrapper {{
                            getItemClass('rejections.score', i)
                          }}"
                          [ngxTippy]="
                            hasFeedback('rejections.score', i)
                              ? tooltipTemplate
                              : null
                          "
                          [tippyProps]="{
                          delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                          [tippyContext]="{
                            data: getItemTooltip('rejections.score', i)
                          }"
                          (click)="
                            openFeedbackModal(
                              feedbackDialog,
                              'rejections.score',
                              i
                            )
                          "
                          >{{ icd.score }}%</span
                        >
                        <span *ngIf="icd.score">)</span>
                        <span>:</span>
                        <span
                          class="d-inline-block ms-4 feedback-wrapper {{
                            getItemClass('rejections.justification', i)
                          }}"
                          [ngxTippy]="
                            hasFeedback('rejections.justification', i)
                              ? tooltipTemplate
                              : null
                          "
                          [tippyProps]="{
                         delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                          [tippyContext]="{
                            data: getItemTooltip('rejections.justification', i)
                          }"
                          (click)="
                            openFeedbackModal(
                              feedbackDialog,
                              'rejections.justification',
                              i
                            )
                          "
                        >
                          {{ icd.justification }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div
                    class="d-flex flex-column mx-4 relevantInfoWrapper position-relative"
                    style="padding-left: 70px"
                  >
                    <span class="mb-1 icd-name mt-3"
                      ><strong
                        >Weitere medizinisch relevante Informationen</strong
                      ></span
                    >
                    <ul
                      *ngIf="
                        detailedRow.medically_relevant_information?.length;
                        else noRelevantInfo
                      "
                    >
                      <li
                        *ngFor="
                          let info of detailedRow.medically_relevant_information;
                          let i = index
                        "
                      >
                        <span
                          class="feedback-wrapper {{
                            getItemClass('medically_relevant_information', i)
                          }}"
                          [ngxTippy]="
                            hasFeedback('medically_relevant_information', i)
                              ? tooltipTemplate
                              : null
                          "
                          [tippyProps]="{
                            delay: [300, 100],
                          theme: 'light-border',
                          followCursor: true,
                          placement: 'top',
                          animation: 'fade',
                          inertia: true,
                        }"
                          [tippyContext]="{
                            data: getItemTooltip(
                              'medically_relevant_information',
                              i
                            )
                          }"
                          (click)="
                            openFeedbackModal(
                              feedbackDialog,
                              'medically_relevant_information',
                              i
                            )
                          "
                        >
                          {{ info }}
                        </span>
                      </li>
                    </ul>

                    <ng-template #noRelevantInfo
                      ><span class="na">-</span></ng-template
                    >
                  </div>
                </div>
              </div>

              <!-- Status & Score -->
              <div
                class="d-flex flex-column ms-4 flex-grow-0 flex-shrink-0 mt-2"
                style="position: absolute; right: 10px; top: 10px"
              >
                <div class="d-flex flex-row w-100">
                  <div class="mb-3 align-self-end mt-2">
                    <span
                      class="fw-bold status-tag px-2"
                      style="width: 132px"
                      [ngClass]="getStatusClass(detailedRow.status)"
                      >{{ detailedRow.status || "Offen" }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #midColumn>
          <div class="d-flex flex-column w-100 h-100">
            <div
              class="d-flex justify-content-between align-items-center flex-grow-0 flex-shrink-0 pt-4 pe-1 ps-3"
            >
              <h4 class="fs-6 mb-0 title">Gesendetes Feedback</h4>
              <!-- <button
                fd-button
                fdType="transparent"
                aria-label="Close"
                (click)="localLayout = 'OneColumnStartFullScreen'"
                title="Close"
              >
                <i class="sap-icon--decline"></i>
              </button> -->
            </div>

            <div
              class="d-flex flex-column flex-shrink-1 flex-grow-1 feedbacks-wrapper p-3 gap-3"
            >
              <div *ngFor="let entry of getAllFeedbacks()">
                <div class="d-flex flex-column fdbk">
                  <b>{{ entry.label }}</b>
                  <div
                    class="fd-feedback-line fst-italic"
                    style="color: gray; padding-top: 3px"
                  >
                    {{ sanitizeEvidence(entry.text) || "-" }}
                  </div>

                  <div class="fd-feedback-line pt-3 pb-1">
                    <span
                      [ngClass]="entry.feedback"
                      style="
                        font-weight: 600;
                        padding: 2px;
                        border: 1px solid #d7d7d7;
                      "
                    >
                      {{ entry.feedback | titlecase }}
                    </span>
                  </div>

                  <div
                    class="fd-feedback-line"
                    *ngIf="entry.justification"
                    style="font-size: 13px"
                  >
                    <div>{{ entry.justification }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </fd-flexible-column-layout>
    </div>
  </ng-template>
</fd-flexible-column-layout>

<ng-template let-dialog let-dialogConfig="dialogConfig" #confirmationDialog>
  <fd-dialog [dialogConfig]="dialogConfig" [dialogRef]="dialog">
    <fd-dialog-body>
      <button
        class="close-button position-absolute sap-position-top-0 sap-position-right-0"
        aria-label="Schließen"
        (click)="dialog.dismiss('Cancel')"
      >
        ✕
      </button>
      <div class="d-flex icd gap-2 px-4 pt-3 pb-2">
        <span
          [class.dashed]="detailedICD.score < reasonableThreshold"
          [class.double_mark]="
            detailedICD.score < reasonableThreshold && detailedICD.highlighted
          "
          class="{{
            detailedICD_isRejection ? 'code-rejection' : 'code'
          }} flex-grow-0 d-inline-block position-relative"
        >
          <span> {{ detailedICD.icd_code }}</span>
          <span class="exclamationMark" *ngIf="detailedICD.highlighted">!</span>
          <span
            class="questionMark"
            *ngIf="detailedICD.score < reasonableThreshold"
            >?</span
          >
        </span>

        <span class="mt-1 icd-name">
          {{ detailedICD.icd_name }}
        </span>
      </div>
      <div class="w-100 px-4 py-2">
        <div
          style="
            border-top: 1px solid rgb(233, 228, 228);
            width: 100%;
            height: 2px;
          "
        ></div>
      </div>

      <div class="d-flex flex-column px-4 pb-4">
        <span class="fw-bold me-2 mt-2">Relevante Textstellen:</span>
        <ul class="mb-2">
          <li *ngFor="let e of detailedICD.evidence">
            {{ sanitizeEvidence(e) }}
          </li>
        </ul>
        <div>
          <div class="fw-bold me-2 mt-2">
            Begründung{{
              detailedICD.score ? " (" + detailedICD.score + "%):" : ":"
            }}
          </div>
          <span class="d-inline-block">
            {{ detailedICD.justification }}
          </span>
        </div>
      </div>
    </fd-dialog-body>

    <fd-dialog-footer>
      <fd-button-bar
        class="my-2 mb-3"
        label="Schließen"
        (click)="dialog.dismiss('Cancel')"
        ariaLabel="Close"
      ></fd-button-bar>
    </fd-dialog-footer>
  </fd-dialog>
</ng-template>

<ng-template let-dialogFeedback let-dialogConfig="dialogConfig" #feedbackDialog>
  <fd-dialog [dialogConfig]="dialogConfig" [dialogRef]="dialogFeedback">
    <fd-dialog-body class="p-4 pb-3">
      <div class="d-flex flex-column pt-2">
        <!-- <span class="title fs-5 mb-4 mt-2 text-center">Feedback</span> -->
        <!-- text -->
        <b class="ps-2 pb-2">{{ dialogConfig.data.label }}</b>
        <span class="mx-2">
          {{ dialogConfig.data.text }}
        </span>

        <!-- feedback -->
        <div class="d-flex flex-row pt-4">
          <fd-form-group class="d-flex flex-row">
            <span fd-form-item>
              <fd-radio-button
                class="korrekt_option"
                name="korrekt"
                [id]="'korrekt'"
                value="korrekt"
                state="success"
                default="true"
                [(ngModel)]="selectedFeedbackOption"
              >
                Korrekt
              </fd-radio-button>
            </span>
            <span fd-form-item>
              <fd-radio-button
                class="inkorrekt_option"
                [id]="'inkorrekt'"
                name="inkorrekt"
                state="error"
                value="inkorrekt"
                [(ngModel)]="selectedFeedbackOption"
              >
                Inkorrekt
              </fd-radio-button>
            </span>
            <span fd-form-item>
              <fd-radio-button
                class="irrelevant_option"
                name="irrelevant"
                [id]="'irrelevant'"
                value="irrelevant"
                state="warning"
                [(ngModel)]="selectedFeedbackOption"
              >
                Irrelevant
              </fd-radio-button>
            </span>
          </fd-form-group>
        </div>

        <!-- Begründung  -->
        <div fd-form-item class="mb-4 px-2">
          <textarea
            style="border: 1px solid #d5d5d5"
            fd-form-control
            id="textarea-31"
            placeholder="Begründung"
            [(ngModel)]="feedbackJustification"
          ></textarea>
        </div>
      </div>
    </fd-dialog-body>

    <fd-dialog-footer>
      <button
        fd-button
        fdType="transparent"
        label="Schließen"
        (click)="dialogFeedback.dismiss('Cancel')"
        ariaLabel="Close"
        class="mt-2 mb-4"
      ></button>
      <button
        fd-button
        fdType="transparent"
        label="Feedback senden"
        (click)="dialogFeedback.close({selectedFeedbackOption, feedbackJustification})"
        ariaLabel="Feedback senden"
        class="mt-2 mb-4 ms-2"
      ></button>
    </fd-dialog-footer>
  </fd-dialog>
</ng-template>

<ng-template #tooltipTemplate let-data="data">
  <div *ngIf="data.feedback" class="p-2" [class.pb-0]="!data.feedback">
    <b class="{{ data.feedback }}_color">{{
      capitalizeFirstLetter(data.feedback)
    }}</b>
  </div>
  <div *ngIf="data.feedback" class="p-2">{{ data.justification }}</div>
  <div *ngIf="data.text">{{ data.text }}</div>
</ng-template>
