<fd-shellbar>
  <fd-shellbar-logo>
    <a href="#" aria-label="Custom Logo">
      <img
        src="assets/images/BFN-logo.png"
        alt="Custom Logo"
        style="height: 32px"
      />
    </a>
  </fd-shellbar-logo>

  <fd-shellbar-title> Schadenfallanalyse </fd-shellbar-title>

  <fd-shellbar-actions
    [user]="user"
    [userMenu]="userMenu"
    [closePopoverOnSelect]="true"
  >
    <fd-shellbar-action glyph="search" ariaLabel="Search"></fd-shellbar-action>

    <fd-shellbar-action
      *ngFor="let action of actions"
      [glyph]="action.glyph"
      [callback]="action.callback"
      [label]="action.label"
      [notificationCount]="action.notificationCount"
      [notificationLabel]="action.notificationLabel"
    ></fd-shellbar-action>
  </fd-shellbar-actions>
</fd-shellbar>
<div class="main-content w-100 h-100">
  <h4 fd-title class="flex-shrink-0 mt-5 mb-2 title">Schadenfall-Monitor</h4>

  <div class="table-container d-flex w-100 py-3 h-100">
    <div class="d-flex flex-column w-100 flex-grow-0 flex-shrink-0">
      <fd-toolbar [shouldOverflow]="false">
        <fd-checkbox
          class="importantOnlyChk"
          [(ngModel)]="showOnlyChecked"
          label="Show only selected"
        ></fd-checkbox>

        <fd-toolbar-separator class="mx-2"></fd-toolbar-separator>

        <!-- search -->
        <fd-input-group
          fd-toolbar-item
          fdCompact
          glyph="search"
          glyphAriaLabel="Search"
          title="Search"
          placeholder="Search"
          [button]="true"
          [disabled]="false"
          [(ngModel)]="searchText"
          (addOnButtonClicked)="searchText = ''"
          class="search-input pe-3"
        >
        </fd-input-group>
        <fd-toolbar-separator class="mx-2"></fd-toolbar-separator>

        <!-- TYP -->
        <div class="filter-item" fd-toolbar-item>
          <span fd-label class="filter-label">Typ</span>
          <fd-multi-input
            fdCompact
            inputId="dropdownExampleInput1"
            [dropdownValues]="typs"
            [(ngModel)]="selectedTyps"
          ></fd-multi-input>
        </div>

        <!-- SUMME -->
        <div class="filter-item" fd-toolbar-item>
          <span fd-label class="filter-label">Betragsspanne</span>
          <fd-multi-input
            fdCompact
            inputId="dropdownExampleInput1"
            [dropdownValues]="betragsspanne"
            [(ngModel)]="selectedBetragsspanne"
          ></fd-multi-input>
        </div>

        <!-- date range -->
        <div class="filter-item" fd-toolbar-item>
          <span fd-label class="filter-label">Datumsbereich</span>
          <fd-date-picker
            fdCompact
            type="range"
            [showTodayButton]="true"
            [(ngModel)]="selectedRange"
          >
          </fd-date-picker>
        </div>

        <!-- SCORE -->
        <div class="filter-item" fd-toolbar-item>
          <span fd-label class="filter-label">Scoringbereich</span>
          <fd-multi-input
            fdCompact
            inputId="dropdownExampleInput1"
            [dropdownValues]="scoringbereich"
            [(ngModel)]="selectedScoringbereich"
          ></fd-multi-input>
        </div>

        <!-- Status -->
        <div class="filter-item" fd-toolbar-item>
          <span fd-label class="filter-label">Status</span>
          <fd-multi-input
            fdCompact
            inputId="dropdownExampleInput1"
            [dropdownValues]="statuses"
            [(ngModel)]="selectedStatuses"
          ></fd-multi-input>
        </div>
      </fd-toolbar>
    </div>

    <div class="scrollable-table w-100 h-100">
      <table fd-table fdCompact [responsive]="true">
        <thead fd-table-header [noBorderY]="true">
          <tr fd-table-row>
            <th fd-table-cell>
              <!-- <fd-checkbox
                aria-label="Select all"
                title="Select all"
                [tristate]="true"
                [ngModel]="checkboxValue"
                (ngModelChange)="selectAll($event)"
              ></fd-checkbox> -->
            </th>
            <th fd-table-cell class="col-fall">Fall</th>
            <th fd-table-cell class="col-antragsteller">Antragsteller</th>
            <th fd-table-cell class="col-policenumber">Policennummer</th>
            <th fd-table-cell class="col-schadenfallnummer">
              Schadenfallnummer
            </th>
            <th fd-table-cell class="col-ort">Ort</th>
            <th fd-table-cell class="col-typ">Typ</th>
            <th fd-table-cell class="col-summe">Summe</th>
            <th fd-table-cell class="col-date">Datum</th>
            <th fd-table-cell class="col-score">Score</th>
            <th fd-table-cell class="col-status text-center">Status</th>
          </tr>
        </thead>
        <tbody fd-table-body [noBorderY]="true">
          <ng-container
            *ngFor="let row of filteredSchadenfallData; let i = index"
          >
            <tr
              *ngIf="!row.expanded"
              fd-table-row
              [hoverable]="true"
              [class.checked]="row.checked"
              [class.expanded]="row.expanded"
              (click)="toggleRowExpansion(i)"
            >
              <td fd-table-cell class="px-0 col-check">
                <div class="d-flex h-100 align-items-end">
                  <fd-checkbox
                    [attr.aria-label]="'Select row ' + (i + 1)"
                    [attr.title]="'Select row ' + (i + 1)"
                    [value]="row.checked"
                    (click)="
                      $event.preventDefault();
                      $event.stopPropagation();
                      row.checked
                        ? (row.checked = false)
                        : (row.checked = true);
                      select(i)
                    "
                  ></fd-checkbox>
                </div>
              </td>
              <td fd-table-cell class="col-fall">
                <span fd-table-text *ngIf="!row.expanded">{{ row.fall }}</span>
              </td>
              <td fd-table-cell class="col-antragsteller">
                <span fd-table-text *ngIf="!row.expanded">{{
                  row.antragsteller
                }}</span>
              </td>
              <td fd-table-cell class="col-policenumber">
                <span fd-table-text *ngIf="!row.expanded">{{
                  row.policennummer
                }}</span>
              </td>
              <td fd-table-cell class="col-schadenfallnummer">
                <span fd-table-text *ngIf="!row.expanded">{{
                  row.schadenfallnummer
                }}</span>
              </td>
              <td fd-table-cell class="col-ort">
                <span fd-table-text *ngIf="!row.expanded">{{ row.ort }}</span>
              </td>
              <td fd-table-cell class="col-typ">
                <span fd-table-text *ngIf="!row.expanded">{{ row.typ }}</span>
              </td>
              <td fd-table-cell class="col-summe">
                <span fd-table-text *ngIf="!row.expanded">{{ row.summe }}</span>
              </td>
              <td fd-table-cell class="col-date">
                <span fd-table-text *ngIf="!row.expanded">{{ row.datum }}</span>
              </td>
              <td fd-table-cell class="col-score">
                <span fd-table-text *ngIf="!row.expanded">{{ row.score }}</span>
              </td>
              <td
                fd-table-cell
                class="col-status"
                style="border-left-style: none"
              >
                <span
                  *ngIf="!row.expanded"
                  fd-table-text
                  class="status-tag"
                  [ngClass]="getStatusClass(row.status)"
                  >{{ row.status }}</span
                >
              </td>
            </tr>
            <tr *ngIf="row.expanded" (click)="toggleRowExpansion(i)">
              <td
                fd-table-cell
                class="px-0 col-check expanded-col"
                style="width: 40px"
              >
                <div
                  class="d-flex h-100 align-items-top"
                  style="padding-top: 18px"
                >
                  <fd-checkbox
                    [attr.aria-label]="'Select row ' + (i + 1)"
                    [attr.title]="'Select row ' + (i + 1)"
                    [value]="row.checked"
                    (click)="
                      $event.preventDefault();
                      $event.stopPropagation();
                      row.checked
                        ? (row.checked = false)
                        : (row.checked = true);
                      select(i)
                    "
                  ></fd-checkbox>
                </div>
              </td>
              <td fd-table-cell colspan="11" class="expanded-details ps-0">
                <div class="expanded-details-content pb-4 w-100">
                  <!-- <h5>Overview</h5> -->
                  <div class="d-flex w-100 flex-row py-4 gap-3 w-100">
                    <!-- Document Information -->
                    <div class="d-flex flex-column me-2" style="width: 50%">
                      <span class="mb-2"
                        ><strong>Document Information</strong></span
                      >
                      <div class="d-flex flex-row" style="max-width: 700px">
                        <span class="fw-bold me-2">Fall:</span>
                        <span class="fst-italic">{{ row.fall }}</span>
                      </div>
                      <div>
                        <span class="fw-bold me-2">Antragsteller:</span>
                        <span class="fst-italic">{{ row.antragsteller }}</span>
                      </div>
                      <div>
                        <span class="fw-bold me-2">Policenumber:</span>
                        <span class="fst-italic">{{ row.policenumber }}</span>
                      </div>
                      <div>
                        <span class="fw-bold me-2">Schadenfallnummer:</span>
                        <span class="fst-italic">{{
                          row.schadenfallnummer
                        }}</span>
                      </div>
                      <div>
                        <span class="fw-bold me-2">Ort:</span>
                        <span class="fst-italic">{{ row.ort }}</span>
                      </div>
                      <div>
                        <span class="fw-bold me-2">Typ:</span>
                        <span class="fst-italic">{{ row.typ }}</span>
                      </div>
                      <div>
                        <span class="fw-bold me-2">Summe:</span>
                        <span class="fst-italic">{{ row.summe }}</span>
                      </div>
                      <div>
                        <span class="fw-bold me-2">Datum:</span>
                        <span class="fst-italic">{{ row.datum }}</span>
                      </div>
                      <div>
                        <span class="fw-bold me-2">Beteiligte Personen:</span>
                        <span class="fst-italic">{{ "" }}</span>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex w-100 flex-row py-4 gap-3 w-100"></div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
