<div
  class="main-container pt-3 d-flex flex-column w-100 h-100 align-items-center"
>
  <fd-dynamic-page
    [autoResponsive]="true"
    ariaLabel="Example Dynamic Page"
    class="main-content h-100"
  >
    <fd-dynamic-page-header title="Purchase overview"> </fd-dynamic-page-header>
    <fd-dynamic-page-subheader
      class="px-0"
      [collapsible]="true"
      [pinnable]="false"
      [collapsed]="false"
    >
      <div class="d-flex w-100 flex-column mb-4">
        <div class="chart-container d-flex flex-column pb-5">
          <canvas id="chart"></canvas>
          <div class="legend-container mt-4">
            <span class="legend-item">
              <span class="color-box" style="background-color: #5899da"></span>
              Amount Purchesed (last 12 months)
            </span>
            <span class="legend-item">
              <span class="color-box" style="background-color: red"></span>
              Overall Percentage Purchesed (last 12 months)
            </span>
          </div>
        </div>
      </div>
    </fd-dynamic-page-subheader>
    <fd-dynamic-page-content class="h-100 w-100 px12">
      <div class="table-container w-100 h-100 pb-4 pt-3">
        <h4 fd-title class="flex-shrink-0">Purchase requests</h4>

        <!-- filters -->
        <fd-toolbar [shouldOverflow]="true">
          <!-- search -->
          <fd-input-group
            fd-toolbar-item
            fdCompact
            glyph="search"
            glyphAriaLabel="Search"
            title="Search"
            placeholder="Search"
            [button]="true"
            [disabled]="false"
            [(ngModel)]="filterVal"
            (addOnButtonClicked)="filterVal = ''"
            class="search-input"
          >
          </fd-input-group>
          <fd-toolbar-spacer></fd-toolbar-spacer>
          <fd-toolbar-separator></fd-toolbar-separator>

          <!-- date range -->
          <div style="position: relative" fd-toolbar-item>
            <span fd-label class="filter-label">Due Date Range</span>
            <fd-date-picker
              fdCompact
              type="range"
              [showTodayButton]="true"
              [(ngModel)]="selectedRange"
            >
            </fd-date-picker>
          </div>
          <!-- vendor -->
          <div style="position: relative" fd-toolbar-item>
            <span fd-label class="filter-label">Vendor</span>
            <fd-multi-input
              fdCompact
              inputId="dropdownExampleInput1"
              [dropdownValues]="vendors"
              [(ngModel)]="selectedVendor"
              style="width: 200px"
            ></fd-multi-input>
          </div>
          <!-- Warranty -->
          <div style="position: relative" fd-toolbar-item>
            <span fd-label class="filter-label">Warranty</span>
            <fd-multi-input
              fdCompact
              inputId="dropdownExampleInput1"
              [dropdownValues]="warranties"
              [(ngModel)]="selectedWarranties"
              style="width: 200px"
            ></fd-multi-input>
          </div>
          <!-- prise range -->
          <div style="position: relative" fd-toolbar-item>
            <span fd-label class="filter-label">Price Range</span>
            <fd-multi-input
              fdCompact
              inputId="dropdownExampleInput1"
              [dropdownValues]="prices"
              [(ngModel)]="selectedPrices"
              style="width: 200px"
            ></fd-multi-input>
          </div>
          <!-- material -->
          <div style="position: relative" fd-toolbar-item>
            <span fd-label class="filter-label">Material</span>
            <fd-multi-input
              fdCompact
              inputId="dropdownExampleInput1"
              [dropdownValues]="materials"
              [(ngModel)]="selectedMaterials"
              style="width: 200px"
            ></fd-multi-input>
          </div>

          <button
            fdCompact
            fd-toolbar-item
            fd-button
            label="Apply"
            fdType="emphasized"
            glyph="filter"
          ></button>
        </fd-toolbar>

        <div class="scrollable-table flex-grow-1 sap-flex-shrink-1">
          <table fd-table fdCompact [responsive]="true">
            <thead fd-table-header [noBorderY]="true">
              <tr fd-table-row>
                <th fd-table-cell>
                  <fd-checkbox
                    aria-label="Select all"
                    title="Select all"
                    [tristate]="true"
                    [ngModel]="checkboxValue"
                    (ngModelChange)="selectAll($event)"
                  ></fd-checkbox>
                </th>
                <th
                  fd-table-cell
                  (click)="onSortChanged('name')"
                  class="sortable col-name"
                >
                  <div fd-table-inner>
                    Product Name
                    <fd-icon
                      *ngIf="sortByKey == 'name'"
                      fd-table-icon
                      [glyph]="ascending ? 'sort-ascending' : 'sort-descending'"
                    ></fd-icon>
                  </div>
                </th>
                <th
                  fd-table-cell
                  class="col-date"
                  (click)="onSortChanged('date')"
                  class="sortable"
                >
                  <div fd-table-inner>
                    Due Date
                    <fd-icon
                      *ngIf="sortByKey == 'date'"
                      fd-table-icon
                      [glyph]="ascending ? 'sort-ascending' : 'sort-descending'"
                    ></fd-icon>
                  </div>
                </th>
                <th fd-table-cell>
                  <div fd-table-inner>Amount</div>
                </th>
                <th
                  fd-table-cell
                  (click)="onSortChanged('vendor')"
                  class="sortable"
                >
                  <div fd-table-inner>
                    Vendor
                    <fd-icon
                      *ngIf="sortByKey == 'vendor'"
                      fd-table-icon
                      [glyph]="ascending ? 'sort-ascending' : 'sort-descending'"
                    ></fd-icon>
                  </div>
                </th>
                <th fd-table-cell>Warranty</th>
                <th fd-table-cell>Size</th>
                <th fd-table-cell>Price</th>
                <th fd-table-cell>Material</th>
                <th fd-table-cell>Properties</th>
                <th fd-table-cell></th>
              </tr>
            </thead>
            <tbody fd-table-body [noBorderY]="true">
              <tr
                *ngFor="
                  let row of tableRows
                    | filter : filterVal : 'name'
                    | sortBy : ascending : sortByKey;
                  let i = index
                "
                fd-table-row
                [attr.aria-selected]="row.checked"
                [hoverable]="true"
              >
                <td
                  fd-table-cell
                  *ngIf="!row.isSpannedRow"
                  [attr.rowspan]="row.rowspan || 1"
                  class="px-0"
                >
                  <div class="d-flex h-100 align-items-center">
                    <fd-checkbox
                      [attr.aria-label]="'Select row ' + (i + 1)"
                      [attr.title]="'Select row ' + (i + 1)"
                      [value]="row.checked"
                      (click)="
                        row.checked
                          ? (row.checked = false)
                          : (row.checked = true);
                        select()
                      "
                    ></fd-checkbox>
                  </div>
                </td>
                <td
                  fd-table-cell
                  class="col-name"
                  [class.spannedRow]="row.isSpannedRow"
                >
                  <span fd-table-text>{{ row.name }}</span>
                </td>
                <td fd-table-cell class="col-date">
                  <span fd-table-text>{{ row.date }}</span>
                </td>
                <td fd-table-cell>
                  <span fd-table-text>{{ row.amount }}</span>
                </td>
                <td fd-table-cell>
                  <span fd-table-text>{{ row.vendor }}</span>
                </td>
                <td fd-table-cell>
                  <span fd-table-text>{{ row.warranty }}</span>
                </td>
                <td fd-table-cell>
                  <span fd-table-text>{{ row.size }}</span>
                </td>
                <td fd-table-cell>
                  <span fd-table-text *ngIf="row.price">{{ row.price }}€</span>
                </td>
                <td fd-table-cell>
                  <span fd-table-text>{{ row.material }}</span>
                </td>
                <td fd-table-cell style="border-left-style: none">
                  <span fd-table-text>{{ row.properties }}</span>
                </td>
                <td
                  *ngIf="!row.isSpannedRow"
                  [attr.rowspan]="row.rowspan || 1"
                  fd-table-cell
                  [fitContent]="true"
                  [noPadding]="true"
                  (click)="openCloseDialog(dialogTemplate, i)"
                >
                  <i
                    title="Navigate"
                    fd-table-icon
                    [glyph]="'slim-arrow-right'"
                    [navigation]="true"
                    role="presentation"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <ng-template let-dialog let-dialogConfig="dialogConfig" #dialogTemplate>
          <fd-dialog [dialogConfig]="dialogConfig" [dialogRef]="dialog">
            <fd-dialog-header>
              <h1 id="fd-dialog-header-7" fd-title>Purchase Request Details</h1>
            </fd-dialog-header>

            <fd-dialog-body>
              <div id="fd-dialog-body-7" role="dialog" class="description-text">
                {{ dialog.data.description }}
              </div>
            </fd-dialog-body>

            <fd-dialog-footer>
              <fd-button-bar
                fdkInitialFocus
                fdType="emphasized"
                label="Ok"
                (click)="dialog.close()"
                ariaLabel="Ok Emphasized"
              >
              </fd-button-bar>
            </fd-dialog-footer>
          </fd-dialog>
        </ng-template>
      </div>
    </fd-dynamic-page-content>
  </fd-dynamic-page>
</div>
