<fd-splitter defaultPaneId="one">
  <fd-splitter-pane-container>
    <fd-splitter-split-pane id="left" size="40%">
      <div class="w-100 d-flex p-4 pt-5 flex-column">
        <div appDropImage (filesDropped)="setFile($event)">
          <!-- upload & drag& drop area -->
          <button
            class="position-relative align-self-center upload-button"
            mat-icon-button
            (click)="fileInput.click()"
          >
            <fd-icon glyph="upload-to-cloud"></fd-icon>
          </button>

          <div
            color="primary"
            class="mat-body-2 primary-main mt-3 align-self-center"
          >
            Upload a file
          </div>
          <div class="subtext align-self-center">
            Allowed file types: *.pdf, *.docx, *.txt,
          </div>
          <input
            hidden
            type="file"
            onclick="this.value=null"
            #fileInput
            [accept]="ACCEPTED_FILE_FORMATS"
            (change)="onFileChange($event)"
          />
          <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
        </div>
        <form class="mt-5 w-100 d-flex align-items-center gap-1">
          <div fd-form-set class="flex-grow-1 flex-shrink-1">
            <div fd-form-item>
              <label fd-form-label for="highlight-input"
                >Highlight a text:</label
              >
              <textarea
                fd-form-control
                id="highlight-input"
                rows="4"
                placeholder="Enter text to highlight"
                name="highlight"
                [(ngModel)]="highlightTerm"
              ></textarea>
            </div>
          </div>

          <button
            class="highlightBtn"
            fd-button
            fdType="positive"
            glyph="search"
            title="Highlight text"
            (click)="highlight([highlightTerm])"
          ></button>
        </form>

        <div class="mt-5">
          <label fd-form-label for="highlight-input" class="mb-2"
            >Highlight keywords:</label
          >
          <ul>
            <li
              *ngFor="let term of termsToHighlight; let i = index"
              class="cursor-pointer"
            >
              <span (click)="highlight([term])">{{ term }}</span>
            </li>
          </ul>

          <button
            class="highlightBtn"
            fd-button
            fdType="positive"
            glyph="search"
            title="Highlight all"
            (click)="highlight(termsToHighlight)"
          >
            Highlight all
          </button>
        </div>
      </div>
    </fd-splitter-split-pane>
    <nav></nav>

    <fd-splitter-split-pane id="right" size="60%">
      <div class="w-100 h-100 position-relative">
        <div [ngSwitch]="fileViewer" class="w-100 h-100">
          <ngx-extended-pdf-viewer
            *ngSwitchCase="'pdf-viewer'"
            [src]="fileBase64"
            useBrowserLocale="true"
            [textLayer]="true"
            [handTool]="false"
            height="100vh"
            class="w-100 pdf-viewer"
            (pdfLoaded)="onPdfLoaded()"
          >
          </ngx-extended-pdf-viewer>

          <ngx-doc-viewer
            *ngSwitchCase="'doc-viewer'"
            [url]="fileURL"
            viewer="mammoth"
            class="w-100 h-100 doc-viewer p-4"
          >
          </ngx-doc-viewer>

          <div
            *ngSwitchCase="'txt-viewer'"
            class="w-100 h-100 txt-viewer p-4"
            [innerHTML]="fileText"
          ></div>
          <div
            class="d-flex w-100 h-100 p-4 align-items-center"
            *ngSwitchDefault
          ></div>
        </div>
      </div>
    </fd-splitter-split-pane>
  </fd-splitter-pane-container>
</fd-splitter>
