<div class="w-100 pt-5 d-flex gap-1 justify-content-center">
  <div class="dashboard-item" (click)="navigateTo('/purchase')">
    <span>Manage Purchase Requisitions</span>
  </div>
  <div class="dashboard-item" (click)="navigateTo('/monitor')">
    <span>Nagoya-Protocol Monitor</span>
  </div>

  <div class="dashboard-item" (click)="navigateTo('/schadenfall')">
    <span>Schadenfall-Monitor</span>
  </div>

  <div class="dashboard-item" (click)="navigateTo('/insurance')">
    <span>Insurance application Compain/SDK</span>
  </div>
</div>
